<div class="container">
	<h1>Welcome <%= @user.name %></h1>

	<div>
		<h2><%= @user.name %>'s questions</h2>
			<% @user.questions.each do |i| %>
				<h3><%= i.title %>:</h3><br>
				<h3><%= i.body %></h3>
			<% end %>
	<div><br>
	
	<%= link_to "Ask Question", new_question_url %>
</div>